@model IEnumerable<InternetBankingDal.Currency>

@{
    ViewBag.Title = "CurrencyEditor";
}

<h3>Конвертер валюты</h3>

@using (Html.BeginForm("Convert", "Currency", FormMethod.Post))
{
    if(Request.Params.AllKeys.Contains("Result"))
    {
        <p>
            @Html.Label("Для конвертации " + Request.Params["Amount"] + " " + Request.Params["Source"])
        </p>
        <p>
            @Html.Label("Количество нужной валюты: " + Request.Params["Result"])
        </p>
    }
    else
    {
            <p>
        @Html.Label("Введите исходную валюту")
        @Html.DropDownList("currencySource", new SelectList(
            Model.Select(x => new { Value = x.alphacode, Text = x.name + "(" + x.alphacode + ")" }),
            "Value", "Text"))
    </p>
    
    <p>
        @Html.Label("Введите нужную валюту")
        @Html.DropDownList("currencyTarget", new SelectList(
            Model.Select(x => new { Value = x.alphacode, Text = x.name + "(" + x.alphacode + ")" }),
            "Value", "Text"))
    </p>

    <p>
        @Html.Label("Введите количество исходной валюты")
        @Html.Editor("amount")
    </p>

    }
    
    <input type="submit" value="Пересчитать" />
    <br/><br/>
    <div>
        @Html.ActionLink("Назад","Index", "Currency")
    </div>
}
