@model PagedList.IPagedList<Internet_Banking.Models.AdditionalUserDataModel>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Список пользователей";
}

@if (Model.Any())
{
    <h3>Список пользователей</h3>
    <hr/>
    @Html.ActionLink("Добавить нового пользователя", "AddUser", "Admin")
    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th class="borderedTable">Логин</th>
                <th class="borderedTable">ФИО</th>
                @*<th class="borderedTable">Дата рождения</th>
                <th class="borderedTable">Гражданство</th>*@
                @*<th class="borderedTable">Идентификационный номер</th>*@
                <th class="borderedTable">Номер паспорта</th>
                @*<th class="borderedTable">Пароль</th>*@
                <th class="borderedTable">Действия</th>
            </tr>

            @foreach (var user in Model)
            {
                <tr>
                    <td class="borderedTable">@user.UserName</td>
                    <td class="borderedTable">@user.FIO</td>
                    @*<td class="borderedTable">@user.BirthDate</td>
                    <td class="borderedTable">@user.Nationality</td>
                    <td class="borderedTable">@user.IdentificationNumber</td>*@
                    <td class="borderedTable">@user.PassportNumber</td>
                    @*<td class="borderedTable">@user.Password</td>*@
                    <td class="borderedTable">@Html.ActionLink("Удалить", "DeleteUser", "Admin", new { id = user.UserId }, new { })</td>
                    <td class="borderedTable">@Html.ActionLink("Подробнее", "UserDetails", "Admin", new { id = user.UserId }, new { })</td>
                </tr>
            }
        </thead>
    </table>
}
else
{
    <span>Какой-то непопулярный у вас Интернет-Банкинг. Пользователей нет. :(</span>
    <br />
    @Html.ActionLink("Добавить нового пользователя", "AddUser", "Admin")
    <br />
}
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
@Html.PagedListPager(Model, page => Url.Action("UsersList", new { page }))

@section Scripts { @Scripts.Render("~/bundles/jqueryval")}