@model Internet_Banking.Models.AdditionalUserDataModel
@{
    ViewBag.Title = "Регистрация нового пользователя";  
}

<h2>Введите данные нового пользователя:</h2>

@using (Html.BeginForm("SaveUser", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.UserId)
    
    <ul>
        <li>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </li>
        <li>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </li>
        <li>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </li>
        <li>
            @Html.LabelFor(m => m.MiddleName)
            @Html.TextBoxFor(m => m.MiddleName)
            @Html.ValidationMessageFor(m => m.MiddleName)
        </li>
        <li>
            @Html.LabelFor(m => m.BirthDate)
            @Html.TextBoxFor(m => m.BirthDate)
            @Html.ValidationMessageFor(m => m.BirthDate)
        </li>
        <li>
            @Html.LabelFor(m => m.Nationality)
            <select id="Nationality" name="Nationality" size="1">
                <option value="BY" selected="selected">Беларусь</option>
                <option value="RU">Россия</option>
                <option value="UA">Украина</option>
                <option value="PL">Польша</option>
                <option value="LT">Литва</option>
                <option value="LV">Латвия</option>
                <option value="EE">Эстония</option>
                <option value="DE">Германия</option>
                <option value="CN">Китай</option>
                <option value="CZ">Чешская Респ.</option>
                <option value="AU">Австралия</option>
                <option value="CA">Канада</option>
                <option value="CH">Швейцария</option>
            </select>
        </li>
        <li>
            @Html.LabelFor(m => m.IdentificationNumber)
            @Html.TextBoxFor(m => m.IdentificationNumber)
            @Html.ValidationMessageFor(m => m.IdentificationNumber)
        </li>
        <li>
            @Html.LabelFor(m => m.PassportNumber)
            @Html.TextBoxFor(m => m.PassportNumber)
            @Html.ValidationMessageFor(m => m.PassportNumber)
        </li>
        @if (Model.Password != null)
        {
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password)
            </li>
        }
        
    </ul>
    <button type="submit">Добавить пользователя</button>
}
@section Scripts  {@Scripts.Render("~/bundles/jqueryval")}