@model InternetBankingDal.Cards

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Cards</legend>

        <div class="editor-label">
            <label>Номер счёта</label>
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(model=>model.AccountId, (SelectList)ViewBag.AccountId)
        </div>

        <div class="editor-label">
            <label>Название карты</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
           <label>Номер карты</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div class="editor-label">
            <label>Фамилия и имя латиницией</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserSignature)
            @Html.ValidationMessageFor(model => model.UserSignature)
        </div>

        <div class="editor-label">
            <label>Начало действия карты</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            <label>Конец действия карты</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            <label>Статус карты</label>
        </div>
        
        <div class="editor-field">
            <select name="State">
              <option value="0">Активна</option>
              <option value="1">Заблокирована</option>
              <option value="2">Истек срок действия</option>
            </select>
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
