@model PagedList.IPagedList<Internet_Banking.Models.CardDetailModel>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Мои карты";
}

<h3>Мои карты</h3>
<hr/>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Название карты")
        </th>
        <th>
            @Html.DisplayName("Номер")
        </th>
        <th>
            @Html.DisplayName("Тип счёта")
        </th>
        <th>
            @Html.DisplayName("Держатель")
        </th>
        <th>
            @Html.DisplayName("Статус")
        </th>
        <th></th>
   </tr>
   </thead>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSignature)
        </td>
        <td>
            @Html.DisplayName(new InternetBankingDal.EnumHelper().GetDisplayName((InternetBankingDal.CardState)item.State))
        </td>
        <td>    
            @Html.ActionLink("Подробнее", "Details", new {id = item.CardId})     
        </td>
    </tr>
}
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<br />
@section Scripts { @Scripts.Render("~/bundles/jqueryval")}