@model PagedList.IPagedList<InternetBankingDal.TransferList>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "История переводов";
}

<h2>История переводов средств</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Начальный счет
            </th>
            <th>
                Конечный счет
            </th>
            <th>
                Сумма
            </th>
            <th>
                Валюта
            </th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountTo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransferValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                </tr>
        }
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("HistoryOfTransfers", new { page }))
<br />
@section Scripts { @Scripts.Render("~/bundles/jqueryval")}